{% extends "base.html" %}

{% block page_header %}
  <div class="page-header">
    <h1>Edit Post: {{ post.title }}</h1>
  </div>
{% endblock %}

{% block content %}
<div id="all-posts">
<div class="post-content">


<table>
<tr><td>
{% for comment in post.comments %}
<form action="/updatecomments" method="post" id="comments-form">
{% csrf_token %}
<input type="hidden" name="post-id" value="{{ post.pk }}" />
<table>
<tr>
<tr>
<td>
<fieldset>
<legend>{{ comment.title }}</legend>
<input type="hidden" name="comment-hash" value="{{comment.hash}}" />
<label for="comment-body">Body:</label><br />
<textarea name="comment-body" cols=8 rows=5>{{ comment.body }}</textarea><br />
<label for="comment{{ forloop.counter0 }}-comment-author">Author:</label><br />
<input type="text" value="{{ comment.author }}" name="comment-author" /><br />
<label><input type="radio" name="comment-status" Value="0" />Disabled</label>
<label><input type="radio" name="comment-status" Value="1" checked=true />Enabled</label>
</fieldset>
</td>
</tr>
</table>
<input type="submit" id="submit-comments" class="btn primary" value="Submit" />
</form>
{% endfor %}
</td>
<td>
<form action="/updateattributes" method="post" id="attributes-form">
{% csrf_token %}
<input type="hidden" name="post-id" value="{{ post.pk }}" />
<table id="post-attributes-table">
{% if post.attributes %}
{% for field, value in post.attributes.items %}
<input type="hidden" name="extension" value="1" />
<tr>
<td>Field:<input type="text" value="{{ field }}" name="key-{{ forloop.counter0 }}" /></td>
<td>Value:<input type="text" value="{{ value }}" name="value-{{ forloop.counter0 }}" /></td>
<td><a href="#" class="remove_attribute">Remove</a></td>
</tr>
{% endfor %}
{% else %}
<tr>
<td><label><input name="key-0" type="text" value="">Field</label>
<input type="hidden" name="extension" value="0" /></td>
<td><label><input name="value-0" type="text" value="">Value</label></td>
</tr>
{% endif %}
</table>
<input type="hidden" value="{{ post.attributes|length }}" id="post-dict-length" />
<input type="submit" id="submit-attributes" class="btn primary" value="Submit" />
<input type="button" id="add-row" class="btn primary" value="Add Row" />
</form>
</td>
</tr>
</table>

</div>

</div>
<script type="text/javascript">
$("#add-row").click(function(){
	var dictlen = parseInt($("#post-dict-length").val());
	var newlen = dictlen++;
	$("#post-attributes-table tr:last").after('<tr>'+
			'<td>Field:<input type="text" value="{{ field }}" name="key-'+ newlen +'" /></td>'+
			'<td>Value:<input type="text" value="{{ value }}" name="value-'+ newlen +'" /></td>'+ 
			'</tr>');
	$("#post-dict-length").val(dictlen++);
});

$(".remove_attribute").click(function() {
	var parent = $(this).closest("tr");
	$(parent).remove();
});
</script>
{% endblock %}