{% extends "base.html" %}

{% block page_header %}
  <div class="page-header">
    <h1>All Posts</h1>
  </div>
{% endblock %}

{% block content %}
<div id="all-posts">
<table>
{% for post in posts %}

<tr>
<td><a href="/showpost/{{ post.slug }}">{{ post.title }}</a></td>
<td>{{ post.created_at }}</td>
</tr>



{% endfor %}
</table>
</div>
{% endblock %}